$list-color : #403232;
$text-color : #968383;
$thirt-color: #e3af55;

.radio_header{
    background-color: $thirt-color;
    min-height: 50px;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px 20px 0px 0px ;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: none;
}
footer{
    background-color: $list-color;
    text-align: center;  
    color: $text-color;
    cursor: none;
    border-radius:0px 0px 20px 20px  ;
}
.channel_list{
    background-color: $list-color;
    padding: 5px 10px;
    color: $text-color;
    // border-radius: 0 0 25px 25px;
}
#playing-text{
    color:$thirt-color;
    font-size: x-small;
}